network:
  version: 2
  ethernets:
    eth0:
      dhcp4: true
      nameservers:
        addresses:
            - {% for host in groups['pihole'] -%}
                {{ hostvars[host]['groups']['pihole'] | replace("['",'') | replace("']",'') }}
              {% endfor %}