---
name: Docker registry
on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      versioning:
        description: 'Version'
        required: true

env:
  DOCKER_USER: ${{ secrets.docker_username }}
  DOCKER_TOKEN: ${{ secrets.docker_token }}

jobs:
  publish:
    name: Push image to DockerHub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PiHole repository
        uses: actions/checkout@v6

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USER }}
          password: ${{ env.DOCKER_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: Docker/Dockerfile
          push: true
          tags: moleszek/pihole:latest

      - name: Build and push with version
        uses: docker/build-push-action@v6
        with:
          file: Docker/Dockerfile
          push: true
          tags: moleszek/pihole:${{ inputs.versioning }}
